QMainWindow {
    background-color: white;
}

QWidget {
    background-color: white;
    color: black;
}

QGroupBox {
    border: 1px solid #CCCCCC;
    border-radius: 6px;
    margin-top: 10px;
    padding-top: 8px;
}

QPushButton {
    background-color: #2563EB;
    color: white;
    border-radius: 5px;
    padding: 5px;
}